/*! all page styles START */
#wrapperOut {
  margin-left: calc((100vw - 100%) / -2);
  margin-right: calc((100vw - 100%) / -2);
}

#wrapperInner {
  max-width: 1516px;
  margin: 0 auto;
}

#wrapper {
  margin: 0 100px;
}
/*! all page styles END------------ */

/*! header START */
header {
  padding: 16px 0;
}
header span {
  font-size: 12px;
  color: var(--color-light);
}
/* supheader */
.truck {
  color: var(--blue);
}

#supheader-right span {
  padding: 0 10px;
}

#usd-flag {
  width: 16px;
  border-radius: var(--borderRadius-light);
}
.social {
  margin-left: 16px;
}
.social span {
  color: var(--color-dark);
  font-size: 14px;
}
.social span:last-child {
  padding-right: 0 !important ;
}
#supheader-right div span {
  cursor: pointer;
}
/* subheader */
#subheader {
  gap: 10px;
}
#subheader form {
  position: relative;
  width: 60%;
}
#subheader form input {
  position: absolute;
  top: -20px;
  left: 0;
  text-indent: 10px;
  border: 1px solid var(--blue);
  border-radius: var(--borderRadius);
}

#subheader form button {
  position: absolute;
  top: -20px;
  right: 0;
  height: 40px;
  width: 40px;
  background-color: var(--blue);
  border: none;
  cursor: pointer;

  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}
#subheader form span {
  position: absolute;
  top: -7px;
  right: 50px;
  cursor: pointer;
}
.fa-magnifying-glass {
  color: var(--color-white);
}

#subheader form input {
  width: 100%;
  height: 40px;
}

#subheader-right {
  gap: 10px;
}
#welcome-account {
  width: 87px;
}
#heart-bag {
  gap: 12px;
}

.pinDiv {
  position: relative;
  cursor: pointer;
}
.pin {
  position: absolute;
  background-color: var(--pin-red);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: var(--color-white);
  top: -10px;
  right: -8px;
  font-size: 9px;
}

/* nav */
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 5px;
  cursor: pointer;
}
nav ul:first-child li:first-child {
  background-color: var(--blue);
  color: var(--color-white);
  border-radius: var(--borderRadius);
}
nav ul:first-child li:first-child :nth-child(2) {
  color: var(--color-white);
}

/*!!!!! 129-143 #all-depart-ul{
  background-color: red;
  margin-top: -10px;
  
} */

nav ul:first-child li:nth-child(2) {
  font-weight: bold;
}
#nav-hamg {
  margin-right: 5px;
  color: var(--color-white);
}

/*! header END------------ */

/*! main START */
#banner {
  background-color: var(--bg-categories);
  padding-bottom: 20px;
}
.banner-h1-div {
  text-align: right;
  font-size: 50px;
  font-weight: bold;
}
.banner-h1-div h1:first-child {
  margin-bottom: -25px;
}
.banner-h1-div h1:last-child {
  font-size: 50px;
  font-weight: bolder;
}
#bannerTop .item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: var(--color-white);
  margin: 20px 40px;
}

/* main carousel */
.owl-dots {
  display: none;
}

#bannerTop .owl-carousel {
  position: relative;
}

#bannerTop .owl-prev {
  position: absolute;
  left: 10px;
  top: 40%;
  font-size: 30px !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--bg-categories) !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
#bannerTop .owl-prev span,
#bannerTop .owl-next span {
  color: var(--blue);
  margin-bottom: 2px;
}
#bannerTop .owl-next {
  position: absolute;
  right: 10px;
  top: 40%;
  font-size: 30px !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--bg-categories) !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
/* main carousel end */

#bannerTop .owl-carousel .item img {
  height: 300px;
}

.ticketDiv {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
}
.ticket {
  width: 120px;
  height: 50px;
  border-radius: var(--borderRadius);
  transform: rotate(357deg);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 5px 5px 5px;
  color: var(--color-white);
  background-color: var(--pin-red);
}
.ticket span:nth-child(2) {
  font-size: 30px;
  font-weight: 900;
  margin-top: -5px !important;
}
.ticket span:first-child,
.ticket span:last-child {
  font-size: 20px;
  font-weight: 900;
}
.shopNowBtn {
  width: 100%;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 12px;
  border-radius: var(--borderRadius);
}
/* main categoreis */
/* #banner article:last-child {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 0 40px;
  padding-bottom: 10px;
}*/
#banner section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#banner section img {
  /* width: 120px; */
  border-radius: 50%;
  border: 20px solid var(--color-white);
}
.owl-two {
  position: relative;
}

.owl-two section h4 {
  margin-top: 10px;
  font-weight: 800;
}
.owl-two section h5 {
  color: var(--color-light);
  font-weight: 400;
  font-size: 10px;
}
.owl-two .owl-prev {
  position: absolute;
  left: 10px;
  top: 40%;
  font-size: 30px !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--bg-categories) !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.owl-two .owl-prev span,
.owl-two .owl-next span {
  color: var(--blue);
  margin-bottom: 2px;
}
.owl-two .owl-next {
  position: absolute;
  right: 10px;
  top: 40%;
  font-size: 30px !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--bg-categories) !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
/*! main END------------ */

/*! article Card START */
.special-h4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0;
}
#special-offer {
  width: 25px;
  margin-right: 10px;
}

#offers {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 40px;
}

aside {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--blue);
  padding: 20px;
}
.asideUPdiv {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.asideDOWNdiv {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.asideUPdiv div:first-child {
  background-color: var(--bg-categories);
  padding: 10px 40px;
  border-radius: var(--borderRadius-hard);
}

#addCart {
  padding: 12px 20px;
  font-size: 10px;
  font-weight: 600;
  margin: 0 5px;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--color-white);
  border-radius: var(--borderRadius);
  border: none;
  cursor: pointer;
}
#addCart span {
  margin-right: 5px;
  color: var(--color-white);
}

#aside-img {
  width: 200px;
}

#offers section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  padding: 10px;
  border: 0.1px solid rgb(247, 240, 240);
}
.card-top {
  width: 160px;
}
.card h4 {
  margin-top: 2px;
}
.text-light,
.stars span {
  color: var(--color-light);
  font-size: 12px;
  font-weight: 300;
}
.stars {
  margin: 8px 0;
}
/*! article Card END----------- */

/*!article subscribe START */
#subscribe {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.subscribe-info {
  display: flex;
}
.subscribe-info div:first-child {
  margin-right: 10px;
}
#subscribe-form {
  position: relative;
}
#subscribe-form input {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  border: 0.1px solid rgb(247, 240, 240);
  text-indent: 15px;
  color: var(--color-light);
  font-size: 10px;
}
#subscribe-form button {
  position: absolute;
  height: 40px;
  right: 0;
  background-color: var(--blue);
  color: var(--color-white);
  border: none;
  padding: 12px 20px;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}
/*!article subscribe END---------- */

/*!footer START */
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer ul li {
  padding: 10px 0;
}

footer ul h4,
footer div h4 {
  margin-bottom: 12px;
}
footer ul li {
  cursor: pointer;
  color: var(--color-light);
  font-size: 12px;
}
footer ul:last-child li {
  color: blue;
}

footer div ul {
  display: flex;
}
footer div ul li {
  height: 30px;
  width: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
footer div ul li:first-child {
  margin-left: 0;
}
footer div ul li i {
  color: var(--color-dark);
}

#nav-info {
  display: flex;
}
.not-desktop {
  display: none;
}
/*!footer END------ */

@media only screen and (max-width: 1220px) {
  #nav-info {
    display: none;
  }
  #wrapper {
    margin: 0 60px;
  }
}

@media only screen and (max-width: 940px) {
  #wrapper {
    margin: 0 10px;
  }
  header {
    padding-bottom: 0;
  }
  .not-mobil,
  nav,
  .owl-two section h4,
  .owl-two section h5 {
    display: none !important;
  }
  .not-desktop {
    display: block;
  }
  #supheader-right {
    width: 100%;
  }
  #offers {
    grid-template-columns: 1fr;
  }
  #offers section {
    grid-template-columns: repeat(2, 1fr);
  }
  .owl-one .item {
    flex-direction: column;
  }
  .owl-one .item div:nth-child(1) {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  #subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscribe-info {
    flex-direction: column;
    text-align: center;
  }
  .subscribe-info div:first-child {
    margin-right: 0;
  }
  #subscribe-form {
    position: block;
    margin: 100px 20px 0 20px;
  }
  #subscribe-form input{
    width: auto;
    left: -320px;
  }
  aside{
    padding: 20px 0;
  }
  footer {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
